<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"/>
  <title>Login</title>
</head>
<body>
  <main>
    <form method="post" action="/login">  <!--by def method is get use post method to post to db or console in action we specify the route-->
      <h1>Login Now</h1>
      <input type="email" name="email" placeholder="Email" value="<%=locals.email%>"> <!--name attribute is accessed change it access name will change-->
      <input type="password" name="password" placeholder="Password">
      <p class="error"><%= locals.message %></p>  <!--that message object in index is local to here so no  error-->
      <button type="Submit">Login</button>
    </form>
  </main>
</body>
</html>